.button-container {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 20px; 
    margin-top: 15px;
    margin-right: 7px;
}


.language-toggle-btn {
    background-color: #afb0b1; 
    color: #ffffff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
}

.content-about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 20px;
    max-width: 1200px;
}

.content-about .row {
    display: flex;
    width: 100%;
}
.content-about img {
    width: 75%;
    height: auto;
    margin-top: 30px;
    margin-left: 140px;
}

.content-about h1 {
    text-align: left;
    margin-left: 10px;
}

.content-about p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 80px;
    max-width: 600px; 
    padding: 10px; 
    text-align: left; 
    border-radius: 8px; 
    white-space: normal; 
    text-align: justify;
}
