.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
}

.links {
  display: flex;
  align-items: center;
  list-style: none; /* Add this line */
  padding: 0; /* Add this line */
  margin: 0; /* Add this line */
}

.links li {
  margin: 0 10px; /* Add this line */
}

.links .dropdown {
  position: relative;
}

.dropdown-content {
  display: flex;
  position: absolute;
  top: 100%;
  left: -200%; 
  right: auto; 
  background-color: #f1f1f1;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-column {
  margin-right: 20px;
}

.dropdown-column h3 {
  margin-bottom: 5px;
}

.btn-dark {
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin-left: 10px;
}

.cart-link {
  margin-left: 10px;
}

.navbar .links .active-link {
  background-color: #afb0b1; 
  color: white; 
  border-radius: 4px; 
  padding: 5px 10px; 
}