.book-item {
    margin-bottom: 2rem;
}

.modal-progress {
    height: 5px;
    background-color: #e9ecef;
}
  
.modal-progress-bar {
    width: 0%;
    height: 100%;
    background-color: #007bff;
    transition: width 0.6s ease;
}

#relatedBooks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  #relatedBooks img {
    max-width: 120px;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    cursor: pointer;
  }
  
  #relatedBooks img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #relatedBooks h4 {
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
    color: #333;
  }